* {
  background-color: #2f1c94;
}

.App {
  text-align: center;
}

.App-header {
  background-image: linear-gradient(to right, #2f1c94, #cb067a);
  min-height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.App-body {
  background-color: #fff;
  padding: 10px 0px 0px 0px;
  height: 90vh;
}

.App-link {
  color: #2f1c94;
}
